.main-header{
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    overflow-x: hidden;
}

.logo{
    width: 25%;
    min-width: 10rem;
    max-width: 15rem;
}
.navbar{
    display: none;
}