.CTA{
    background: url(../../img/call-to-action-background.jpg) $secondary center center/cover;
    padding: 5em 0;
    background-blend-mode: multiply;
    color: $text-inverse;
    position: relative;
    overflow: hidden;

    @media (min-width:700px) {
        padding: 10em 0;

        &::after,&::before{
            content: "";
            display: block;
            background: $accent;
            position: absolute;
            width: 100%;
            border: 1em solid $text-inverse;
        }

        &::before{
            top: 0;
            bottom: -1em;
            transform: skewX(55deg);
            left: -100%;
        }
        &::after{
            top: -1em;
            bottom: 0;
            transform: skewX(55deg);
            right: -100%;
        }
    }
}